/* h4 {
    font-size: 25px;
}

h2{
    color:#646C8F;
}

ul :first-child a:hover{
    text-decoration: none;
} */
/* 

/* Providing background color to body tag instead of using universal selector */

body{
    background-color: #F5DE83;

}
/* Type selector */

header{
    background-color: #F2B84B;
}

/* Class selector */
.mid-text {
    font-weight: bolder;
    font-size: medium;
}

/* ID selector */
#head-text {
    text-decoration: underline;
}

/* Attribute selector */

input[disabled]{
    background-color:#D95E32;
}


/* Descendant Combinator */
div span{
    color:#538C51;
}

div .extra{
    text-decoration: underline;
}

/* Child Combinator */
/* .mid-text > .extra{
    text-decoration: underline;
} */

h2 ~ h4{
    color : #D95E32;
}

a{
    color:#538C51;
}
/* Pseudo Class */

a:hover{
    text-decoration: none;
}

/* a:visited{
    color: red;
} */

/* ul :first-child a:hover{
    text-decoration: none;
} */

/* Pseudo Elements */

div::before{
    content: "...";
}

div::after{
    content: "...";
}