/* h4 {
    font-size: 25px;
}

h2{
    color:#646C8F;
}

ul :first-child a:hover{
    text-decoration: none;
} */
/* 

/* Providing background color to body tag instead of using universal selector */

body{
    background-color: #F5DE83;

}
/* Type selector */

header{
    background-color: #F2B84B;
}

/* Class selector */
.mid-text {
    font-weight: bolder;
    font-size: medium;
}

/* ID selector */
#head-text {
    text-decoration: underline;
}